<!DOCTYPE HTML>
<html>
  <head>
    <title>Video YouTube</title>
  </head>
  <body>
    <video controls width="710" height="538" poster="/templates/video.png" preload="none">
      <source src="../DFDNet/Results/TestVideoResults/Step1_Cropping/crop_downloaded_video.mp4" type="video/mp4">
    </video>
    <br><br>
    <div>
        <form method='post' action="/">
          <center><h4>Try again...</h4></center>
          <br><br>
          <center><input type="submit" value="Try"></center>
        </form>
    </div>
  </body>
</html>
